.navbar-inverse {
	background-color: #31383e;
	border: none;
}

.login-button{
	width: 80px;
	background-color: #31383e;
	border: none;
}
.sell-button {
	width: 100px;
	background-color: #fbea2a;
	border: none;
	color: #000;

}

.space {
	margin-bottom: 100px;
}

.graph-1 {
	background-color: #f6f3ee;
	height: 150px;
	padding-left: 20px;
	text-align: justify;
}

.footer {
	background-color: #ccc;
	height: 100px;
	margin-top: 100px;
}

h4{
	text-align: center;
	color: #555a5e;
}

.img-responsive {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.small-image {
	position: relative; margin-top: -100px; border: 5px solid grey; width: 150px; margin-right: 10px; border-radius: 10px;
}

.body-text {
	padding-top: 70px;
}

.bg-grey {
	background-color: #f6f3ee;
	height: auto;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}

.view-item {
	padding-bottom: 20px;
}

hr {
    border: 2px solid;
    color: black;
}

.column-header{
	margin-left: 20px;
	margin-bottom: 40px;
	color: #535353;
}




